body {
    padding: 20px;
    font-family: sans-serif;
    color:white;
    background-color: rgb(223, 223, 223);
}

.app {
    text-align: center;
    height: 320px;
    width: 300px;
    background-color: rgb(41, 39, 39);
    border-radius:5px;
}
.entry {
    background-color: rgb(52, 120, 223);
    color: white;
    height:50px;
    width:50px;
    border: solid rgb(41, 39, 39);
}
.message {

}
.title {

}
#reset {
    margin-top:50px;
    border: none;
    border-radius: 2px;
    width:100px;
    background-color: rgb(52, 120, 223);
    color: white;
}
.highLight {
    opacity:0.5;
}

.no-highLight {
    
}